.title {
    background-color: #67D1FF ;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 50px;
        font-weight: 100;
    }
}